html {
    background: url('../shared_assets/background.png') top right;
    background-size: 100%;
    color: #fff;
}
tr, td {
    text-align: center;
}
#auth {
    position: absolute;
    bottom: 20px;
    left: 25px;
    right: 25px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    transition-delay: 1s;
    color: white;
}
#welcome {
    position: absolute;
    top: 15px;
    left: 9px;
    right: 9px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

#under_maintenance {
	position: absolute;
    top: 120px;
    left: 9px;
    right: 9px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
	display: none;
}

#under_maintenance_custom {
	color: red;
}

#auth_welcome {
    display: none;
    position: absolute;
    top: 15px;
    left: 9px;
    right: 9px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.cell {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

#cell_left {
    width: 40%;
}

#cell_center {
    width: 20%;
}

#cell_right {
    width: 40%;
}

.send_cell {
    width: 20%;
}

.info_cell {
	width: 100%;
}

#stats {
    position: absolute;
    display: none;
    bottom: 5px;
    width: 95%;
}

#stats_table {
    width: 100%;
    height: 30px;
}

#soundbytes {
    display: none;
    height: 100%;
}

#soundbyte_data {
    margin-top: 60px;
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#soundbyte_table td, th {
    text-align: left;
    padding: 2px;
	font-size: 60%;
}

#soundbyte_table tr:nth-child(even) {
    background-color: #666699;
	display: table;
}

#soundbyte_search {
    margin-left: 5px;
    margin-top: 5px;
    width: 160px;
    border-radius: 10px;
}

#soundbyte_genre {
    width: 120px;
    border-radius: 10px;
}

#soundbyte_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 93%;
    height: 280px;
    overflow-y: scroll;
    display: block;
    padding-left: 10px;
	padding-top: 10px;
}

.btn_send {
    border: 0;
    background: rgba(50, 168, 50, 0.5);
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#pagination {
    position: fixed;
    width: 302px;
    bottom: 95px;
}

#pagination_table {
    width: 100%;
    height: 20px;
}

#pag_left {
    width: 40%;
}

#pag_center {
    width: 20%;
}

#pag_right {
    width: 40%;
}

#page {
    color: white;
}

#messages {
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    bottom: 55px;
    position: fixed;
    width: 302px;
    display: none;
}

#success {
    background: rgba(50, 168, 50, 0.5);
    height: 25px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    display: none;
}

#fail {
    background: rgba(221, 15, 49, 0.5);
    height: 25px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    display: none;
}

#doubloons {
    font-size: 70%;
    color: white;
}

#soundbyte_credits {
    font-size: 70%;
    color: white;
}

#wins_img {
	width: 20px;
    height: 20px;
    position: fixed;
    right: 68px;
    top: 23px;
    z-index: 2;
    border-radius: 5px;
	display: none;
}

#credit_img {
    width: 20px;
    height: 20px;
    position: fixed;
    right: 18px;
    top: 23px;
    z-index: 2;
    border-radius: 5px;
}

#credit_info {
    position: fixed;
    width: 268px;
    left: 25px;
    right: 25px;
    top: 100px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: none;
}

.credit_describe {
    font-size: 70%;
}

#settings_img {
    width: 20px;
    height: 20px;
    position: fixed;
    right: 44px;
    top: 23px;
    z-index: 2;
    border-radius: 5px;
	display: none;
}

#settings_info {
    position: fixed;
    width: 268px;
    left: 25px;
    right: 25px;
    top: 100px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: none;
}

.settings_describe {
    font-size: 70%;
}

.settings_button_selected {
    background: rgba(50, 168, 50, 0.5);
}

.settings_button {
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 5px;
}

#time_img {
	width: 25px;
    height: 25px;
    position: fixed;
    left: 47px;
    top: 20px;
    z-index: 2;
    border-radius: 5px;
    display: none;
}

#time_info {
	position: fixed;
    width: 300px;
    left: 10px;
    right: 25px;
    top: 55px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: none;
}

#time_stream {
	display: none;
}

#time_stream_game {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#time_stream_duration {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#time_stream_completion_in {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#time_schedule {
	display: none;
}

#time_schedule_date {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#time_schedule_time {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#time_schedule_entry {
	font-size: 140%;
	font-style: italic;
}

#time_stream_entry {
	font-size: 140%;
	font-style: italic;
}

#time_schedule_countdown {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_new_info {
	position: fixed;
    width: 300px;
    left: 10px;
    right: 25px;
    top: 55px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: none;
}

.giveaway_new_action_enter {
	border: 0;
    background: rgba(50, 168, 50, 0.5);
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.giveaway_new_action_leave {
	border: 0;
    background: rgba(255,0,0, 0.5);
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

#giveaway_new_title {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_new_name {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_new_author {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_new_remaining {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_claim_info {
	position: fixed;
    width: 300px;
    left: 10px;
    right: 25px;
    top: 55px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: none;
}

#giveaway_claim_title {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_claim_name {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_claim_author {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_claim_winner {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
	color: rgba(255, 204, 0);
}

#giveaway_claim_remaining {
	font-size: 140%;
	font-style: italic;
	font-weight: bold;
}

#giveaway_claim_claim {
	border: 0;
    background: rgba(50, 168, 50, 0.5);
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
	display: none;
}

#giveaway_claim_pass {
	border: 0;
    background: rgba(255,0,0, 0.5);
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
	display: none;
}

#giveaway_claim_time_remaining_label {
	color: rgb(244, 66, 66);
}

#giveaway_submission_img {
    width: 20px;
    height: 20px;
    position: fixed;
    left: 20px;
    top: 22px;
    z-index: 2;
    border-radius: 5px;
    display: none;
}

#giveaway_submission_info {
    position: fixed;
    width: 300px;
    left: 10px;
    right: 25px;
    top: 55px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: none;
}

#giveaway_clear {
    border: 0;
    background: rgba(255,0,0, 0.5);
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

#giveaway_submit {
    border: 0;
    background: rgba(50, 168, 50, 0.5);
    box-shadow:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

#wins_info {
	margin-top: 60px;
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
	display: none;
}

#wins_info table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 93%;
	height: 140px;
	overflow-y: scroll;
	display: block;
	padding-left: 10px;
}

#wins_info td, th {
    border: 1px solid #666699;
    text-align: left;
    padding: 2px;
	font-size: 60%;
	display: table;
	width: 250px;
}

#wins_info tr:nth-child(even) {
    background-color: #666699;
	display: table;
}

.wins_sections {
	padding-left: 10px;
	
}

#redemptions_toggle {
	font-weight: bold;
	color: #ff6666;
	float: right;
	padding-right: 10px;
	padding-top: 3px;
	font-size: 70%;
}

.exgame_redeem_important {
	display: none !important;
}

.exgame_redeem_height_important {
	height: 300px !important;
}

.exgames_redeem {
	
}

#offline_emphasis {
	color: red;
	font-weight: bold;
}

#online_emphasis {
	color: green;
	font-weight: bold;
}

.listing_redeem {
	color: #ff6666;
}